@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.xxl-max-screen {
  max-width: 1440px;
  margin: auto;
}

