@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-hover-1:hover {
  border: 1px solid #4d89f0;
  color: #4d89f0;
}

.xxl-max-screen {
  max-width: 1440px;
  margin: auto;
}

/* .review-circle-slider {
  .slick-list {
    height: auto;
    overflow-y: inherit;
    .slick-track {
      height: auto;

      .slick-slide {
        height: max-content;
      }
    }
  }

  @media (max-width: 768px) {
    .slick-list {
      height: 985px;
      overflow-y: inherit;
      .slick-track {
        height: 985px;

        .slick-slide {
          height: max-content;
        }
      }
    }
  }
} */

/* .review-circle-scroll {
  .slick-list {
    height: 100%;
    overflow-y: inherit;
    .slick-track {
      height: 100%;
      .slick-slide {
        height: 100%;
        & > div {
          height: 100%;
        }
      }
    }
  }
} */
